<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="styleSheet" href="/static/css/btnn.css" />
    <title>北京航空航天大学附属医院</title>
</head>


<body background='/static/images/beihangbackground.jpg' style="height:100%;width:100%;overflow: hidden;background-size:cover;">


    <div style="padding-left: 7%;padding-right: 5%;padding-top:150px;">
        <a href="http://www.buaa.edu.cn/">
            <img src="/static/images/logo.png"></a>
    </div>
    <div style=" padding-left: 7%;padding-right: 5%;padding-top:50px; padding-bottom: 150px; ">
        <a href="/patient/signup ">
            <div class="btn2_colored btn2_div ">
                <font size='5'>就医导览</font>
                </br>
                <font size='2'>Medical Guidance</font>
            </div>
        </a>
        <a href="/patient/login ">
            <div class="btn3_colored btn2_div ">
                <font size='5'>公众版</font>
                </br>
                <font size='2'>Public</font>
            </div>
        </a>
        <a href="/doctor/login">
            <div class="btn3_colored btn2_div ">
                <font size='5'>员工版</font>
                </br>
                <font size='2'>Employee</font>
            </div>
        </a>
    </div>

</body>

</html>