<!--
Author: W3layouts
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
-->
<!DOCTYPE HTML>
<html>

<head>
    <title>患者服务系统</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="keywords" content="Minimal Responsive web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template, 
Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyEricsson, Motorola web design" />
    <script type="application/x-javascript">
        addEventListener("load", function() {
            setTimeout(hideURLbar, 0);
        }, false);

        function hideURLbar() {
            window.scrollTo(0, 1);
        }
    </script>
    <link href="/static/css/bootstrap.min.css" rel='stylesheet' type='text/css' />
    <!-- Custom Theme files -->
    <link href="/static/css/style.css" rel='stylesheet' type='text/css' />
    <link href="/static/css/font-awesome.css" rel="stylesheet">
    <script src="/static/js/jquery.min.js">
    </script>
    <!-- Mainly scripts -->
    <script src="/static/js/jquery.metisMenu.js"></script>
    <script src="/static/js/jquery.slimscroll.min.js"></script>
    <!-- Custom and plugin javascript -->
    <link href="/static/css/custom.css" rel="stylesheet">
    <script src="/static/js/custom.js"></script>
    <script src="/static/js/screenfull.js"></script>
    <script>
        $(function() {
            $('#supported').text('Supported/allowed: ' + !!screenfull.enabled);

            if (!screenfull.enabled) {
                return false;
            }



            $('#toggle').click(function() {
                screenfull.toggle($('#container')[0]);
            });



        });
    </script>

    <!----->

    <!--pie-chart--->
    <script src="/static/js/pie-chart.js" type="text/javascript"></script>
    <script type="text/javascript">
        $(document).ready(function() {
            $('#demo-pie-1').pieChart({
                barColor: '#3bb2d0',
                trackColor: '#eee',
                lineCap: 'round',
                lineWidth: 8,
                onStep: function(from, to, percent) {
                    $(this.element).find('.pie-value').text(Math.round(percent) + '%');
                }
            });

            $('#demo-pie-2').pieChart({
                barColor: '#fbb03b',
                trackColor: '#eee',
                lineCap: 'butt',
                lineWidth: 8,
                onStep: function(from, to, percent) {
                    $(this.element).find('.pie-value').text(Math.round(percent) + '%');
                }
            });

            $('#demo-pie-3').pieChart({
                barColor: '#ed6498',
                trackColor: '#eee',
                lineCap: 'square',
                lineWidth: 8,
                onStep: function(from, to, percent) {
                    $(this.element).find('.pie-value').text(Math.round(percent) + '%');
                }
            });


        });
    </script>
    <!--skycons-icons-->
    <script src="/static/js/skycons.js"></script>
    <!--//skycons-icons-->
</head>

<body>
    <div id="wrapper">

        <!----->
        <nav class="navbar-default navbar-static-top" role="navigation">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <h1> <a class="navbar-brand" href="index.html" style="color:4b9a7b;">患者服务系统</a></h1>
            </div>
            <div class=" border-bottom">


                <!-- Brand and toggle get grouped for better mobile display -->

                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="drop-men">
                    <ul class=" nav_1">

                        <li class="dropdown at-drop">
                            <a href="#" class="dropdown-toggle dropdown-at " data-toggle="dropdown"><i class="fa fa-globe"></i> <span class="number">5</span></a>
                            <ul class="dropdown-menu menu1 " role="menu">
                                <li>
                                    <a href="#">

                                        <div class="user-new">
                                            <p>New user registered</p>
                                            <span>40 seconds ago</span>
                                        </div>
                                        <div class="user-new-left">

                                            <i class="fa fa-user-plus"></i>
                                        </div>
                                        <div class="clearfix"> </div>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <div class="user-new">
                                            <p>Someone special liked this</p>
                                            <span>3 minutes ago</span>
                                        </div>
                                        <div class="user-new-left">

                                            <i class="fa fa-heart"></i>
                                        </div>
                                        <div class="clearfix"> </div>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <div class="user-new">
                                            <p>John cancelled the event</p>
                                            <span>4 hours ago</span>
                                        </div>
                                        <div class="user-new-left">

                                            <i class="fa fa-times"></i>
                                        </div>
                                        <div class="clearfix"> </div>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <div class="user-new">
                                            <p>The server is status is stable</p>
                                            <span>yesterday at 08:30am</span>
                                        </div>
                                        <div class="user-new-left">

                                            <i class="fa fa-info"></i>
                                        </div>
                                        <div class="clearfix"> </div>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <div class="user-new">
                                            <p>New comments waiting approval</p>
                                            <span>Last Week</span>
                                        </div>
                                        <div class="user-new-left">

                                            <i class="fa fa-rss"></i>
                                        </div>
                                        <div class="clearfix"> </div>
                                    </a>
                                </li>
                                <li><a href="#" class="view">View all messages</a></li>
                            </ul>

                            <!--医生名字-->
                        </li>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle dropdown-at" data-toggle="dropdown"><span class=" name-caret">Rackham<i class="caret"></i></span><img src="/static/images/wo.jpg"></a>
                            <ul class="dropdown-menu " role="menu">
                                <li><a href="profile.html"><i class="fa fa-user"></i>Edit Profile</a></li>
                                <li><a href="inbox.html"><i class="fa fa-envelope"></i>Inbox</a></li>
                                <li><a href="calendar.html"><i class="fa fa-calendar"></i>Calender</a></li>
                                <li><a href="inbox.html"><i class="fa fa-clipboard"></i>Tasks</a></li>
                            </ul>
                        </li>

                    </ul>
                </div>
                <!-- /.navbar-collapse -->
                <div class="clearfix">

                </div>
                <div class="navbar-default sidebar" role="navigation">
                    <div class="sidebar-nav navbar-collapse">
                        <ul class="nav" id="side-menu">

                            <li>
                                <a href="index.html" class=" hvr-bounce-to-right"><i class="fa fa-dashboard nav_icon "></i><span class="nav-label">首页</span> </a>
                            </li>


                            <li>
                                <a href="inbox.html" class=" hvr-bounce-to-right"><i class="fa fa-inbox nav_icon"></i> <span class="nav-label">查看病史</span> </a>
                            </li>

                            <li>
                                <a href="inbox.html" class=" hvr-bounce-to-right"><i class="fa fa-inbox nav_icon"></i> <span class="nav-label">查看检查</span> </a>
                            </li>

                            <li>
                                <a href="inbox.html" class=" hvr-bounce-to-right"><i class="fa fa-inbox nav_icon"></i> <span class="nav-label">人工诊断</span> </a>
                            </li>

                            <li>
                                <a href="inbox.html" class=" hvr-bounce-to-right"><i class="fa fa-inbox nav_icon"></i> <span class="nav-label">排班</span> </a>
                            </li>

                            <li>
                                <a href="inbox.html" class=" hvr-bounce-to-right"><i class="fa fa-inbox nav_icon"></i> <span class="nav-label">病人评价</span> </a>
                            </li>

                        </ul>
                    </div>

                    <div style="margin-top: 100px;text-align:center;">
                        <button class="btn btn-default" type="submit">Button</button>
                    </div>
                </div>

                <div class="ori-1">
                    <div class="ori-2">
                        <div class="ori-3">
                            <div class="list-group list-group-alternate">
                                <a href="#" class="list-group-item"><span class="badge">10</span> <i class="ti ti-email"></i> 今日已看病人 </a>
                                <a href="#" class="list-group-item"><span class="badge">50</span> <i class="ti ti-email"></i> 今日未看病人 </a>
                            </div>

                            <table id="doctor_pre" class="table table-striped">
                                <div style="height: 30px;line-height:30px;">
                                    <h4 align="center">已看病人</h4>
                                </div>

                                <thead>
                                    <tr>
                                        <th>#</th>
                                        <th>姓名</th>
                                        <th>年龄</th>
                                        <th>选择</th>
                                    </tr>
                                </thead>

                                <tbody>
                                    <tr>
                                        <td>1</td>
                                        <td>张三</td>
                                        <td> 45</td>
                                        <td> </td>
                                    </tr>
                                </tbody>

                            </table>

                            <div>
                                <div style="height: 30px;line-height:30px;">
                                    <h4 align="center">我的评价</h4>
                                </div>
                                <a href="#" class="list-group-item"> <i class="ti ti-email"></i> 我的星级： <span class="glyphicon glyphicon-star" style="right:0;" aria-hidden="true"></span></a>
                                <a href="#" class="list-group-item"> <i class="ti ti-email"></i> 满意度： </a>
                            </div>

                        </div>
                    </div>
        </nav>


        <div id="page-wrapper" class="gray-bg dashbard-1">
            <div class="content-main">

                {% block content%} {% endblock %}

            </div>




            <!--scrolling js-->
            <script src="/static/js/jquery.nicescroll.js"></script>
            <script src="/static/js/scripts.js"></script>
            <!--//scrolling js-->
            <script src="/static/js/bootstrap.min.js">
            </script>
</body>

</html>