 {% extends 'patient/base.html' %} {% block css %}

<style type="text/css">
    #pa_his>thead>tr {
        display: table;
        width: 100%;
        table-layout: fixed;
    }
    
    #pa_his>tbody {
        display: block;
        height: 300px;
        overflow-y: scroll;
    }
    
    #pa_his>tbody>tr {
        display: table;
        width: 100%;
        table-layout: fixed;
    }
    
    .qqq,
    #pa_his>tbody>tr>td {
        text-align: center;
    }
    
    .qqq,
    #pa_his>thead>tr>th {
        text-align: center;
    }
</style>

{% endblock %} {% block content%}

<!--banner-->
<div class="banner">

    <h1 class="text-center">
        反馈信息
    </h1>
</div>
<!--//banner-->
<div class="banner" style="height: 500px;">

    <form method='POST' class="tex_input center ">
        {% csrf_token %}
        <div style="width:70%;">
            <textarea type="text " placeholder="请写下您宝贵的意见，谢谢！" class="btn-border1 btn-border2 tex_input3 txa_tran " name="feedback_msg">{{bfr}}</textarea>


            <div style="padding-top: 10px; margin-left: 80%;">
                <button style="display: inline-block; " class="btn1 btn-border3 " type="submit ">提交</button>

            </div>
        </div>

    </form>
</div>

<div style="margin-top: 50px;text-align:center; width:100% ">
    <button style="display: inline-block; " class="btn btn-default btn-lg " type="submit ">回首页</button>
</div>

<script>
    function revert(id) {
        var doctor = window.location.href.split('/')[5]
        location.href = 'http://127.0.0.1:8000/doctor/index/' + doctor + '/' + id + '/'
    }
</script>


{% endblock %}