
{% extends  'base.html' %}

{% block css %}

<style type="text/css">
#pa_his>thead>tr{
    display: table;
    width: 100%;
    table-layout: fixed;
}
#pa_his>tbody{
    display: block;
    height: 300px;
    overflow-y: scroll;
}
#pa_his>tbody>tr{
    display: table;
    width: 100%;
    table-layout: fixed;
}
</style>

{% endblock %}


{% block content%}

      		<!--banner-->
		    <div class="banner">

				<h1  class="text-center">
                    检查信息
				</h1>
		    </div>
		<!--//banner-->
            <div class="banner" style="maigin-top:30px;height: 500px;">

				<table id="pa_his" class="table table-striped" >

                            <thead>
                                <tr>
                                  <th>日期</th>
                                  <th>检查</th>
                                  <th>诊断</th>
                                  <th>查看细节</th>
                                </tr>
                              </thead>

                                <tbody >
                                <tr>
                                    <td>1</td>
                                    <td>张三</td>
                                    <td>45</td>
                                    <td> <button type="button" class="btn btn-default btn-sm">Small button</button></td>
                                </tr>
                                </tbody>

                        </table>
		    </div>

             <div style="margin-top: 100px;text-align:center; width:100%">
                 <button style="display: inline-block; " class="btn btn-default btn-lg" type="submit">回首页</button>
             </div>



        {% endblock %}







