
{% extends  'base.html' %}

{% block css %}

<style type="text/css">

</style>

{% endblock %}


{% block content%}

      		<!--banner-->
		    <div class="banner">

				<h1  class="text-center">
                    人工诊断
				</h1>
		    </div>
		<!--//banner-->
            <div class="banner" style="maigin-top:30px;">
                <div class="col-md-12" style="height: 30px;"><h4 style="text-align: center">基本情况</h4></div>
                <div class="row">
                  <div class="col-md-4" style="height: 50px;border:1px solid #ddd">性别</div>
                  <div class="col-md-4" style="height: 50px;border:1px solid #ddd">就诊年龄</div>
                  <div class="col-md-4" style="height: 50px;border:1px solid #ddd">胸痛症状</div>
                </div>
                <div class="row">
                  <div class="col-md-4" style="height: 50px;border:1px solid #ddd">舒张压</div>
                  <div class="col-md-4" style="height: 50px;border:1px solid #ddd">收缩压</div>
                  <div class="col-md-4" style="height: 50px;border:1px solid #ddd"></div>
                </div>

                <div class="col-md-12" style="height: 30px;margin-top: 10px;"><h4 style="text-align: center">肝肾功能</h4></div>
                <div class="row">
                  <div class="col-md-4" style="height: 50px;border:1px solid #ddd">天门冬氨酸氨基转移酶</div>
                  <div class="col-md-4" style="height: 50px;border:1px solid #ddd">丙氨酸氨基转移酶</div>
                  <div class="col-md-4" style="height: 50px;border:1px solid #ddd">总蛋白</div>
                </div>
                <div class="row">
                  <div class="col-md-4" style="height: 50px;border:1px solid #ddd">白蛋白</div>
                  <div class="col-md-4" style="height: 50px;border:1px solid #ddd">球蛋白</div>
                  <div class="col-md-4" style="height: 50px;border:1px solid #ddd">白球蛋白比值</div>
                </div>
                <div class="row">
                  <div class="col-md-3" style="height: 50px;border:1px solid #ddd">甘油三酯</div>
                  <div class="col-md-3" style="height: 50px;border:1px solid #ddd">总胆固醇</div>
                  <div class="col-md-3" style="height: 50px;border:1px solid #ddd">葡萄糖测定</div>
                  <div class="col-md-3" style="height: 50px;border:1px solid #ddd">肌酐</div>

                </div>

                <div class="col-md-12" style="height: 30px;margin-top: 10px;"><h4 style="text-align: center">血脂</h4></div>
                <div class="row">
                  <div class="col-md-6" style="height: 50px;border:1px solid #ddd">低密度脂蛋白胆固醇</div>
                  <div class="col-md-6" style="height: 50px;border:1px solid #ddd">高密度脂蛋白胆固醇</div>
                </div>

                <div class="col-md-12" style="height: 30px;margin-top: 10px;"><h4 style="text-align: center">凝血常规</h4></div>
                <div class="row">
                  <div class="col-md-6" style="height: 50px;border:1px solid #ddd">凝血酶时间</div>
                  <div class="col-md-6" style="height: 50px;border:1px solid #ddd">纤维蛋白原浓度</div>
                </div>
                <div class="row">
                  <div class="col-md-6" style="height: 50px;border:1px solid #ddd">活化部分凝血活酶时间</div>
                  <div class="col-md-6" style="height: 50px;border:1px solid #ddd">凝血酶原时间</div>
                </div>

                <div class="col-md-12" style="height: 30px;margin-top: 10px;"><h4 style="text-align: center">心肌酶</h4></div>
                <div class="row">
                  <div class="col-md-4" style="height: 50px;border:1px solid #ddd">肌酸激酶</div>
                  <div class="col-md-4" style="height: 50px;border:1px solid #ddd">肌酸激酶同工酶</div>
                  <div class="col-md-4" style="height: 50px;border:1px solid #ddd">肌钙蛋白I</div>
                </div>

                <div class="col-md-12" style="height: 30px;margin-top: 10px;"><h4 style="text-align: center">心电图</h4></div>
                <div class="row">
                  <div class="col-md-6" style="height: 50px;border:1px solid #ddd">ST-T段改变</div>
                  <div class="col-md-6" style="height: 50px;border:1px solid #ddd">ST段抬高</div>
                </div>
                <div class="row">
                  <div class="col-md-6" style="height: 50px;border:1px solid #ddd">ST段压低</div>
                  <div class="col-md-6" style="height: 50px;border:1px solid #ddd">病理性Q波</div>
                </div>


		    </div>

             <div style="margin-top: 100px;text-align:center; width:100%">
                 <button style="display: inline-block; " class="btn btn-default btn-lg" type="submit">回首页</button>
             </div>



        {% endblock %}







