{% extends  'base.html' %}

{% block css %}


{% endblock %}


{% block content%}

    <div class=" profile">

		<div class="profile-bottom" style="margin-top:50px;">
			<h3><i class="fa fa-user"></i>Profile</h3>
			<div class="profile-bottom-top">
			<div class="col-md-4 profile-bottom-img">
				<img src="/static/images/3.jpg" alt="">
			</div>
			<div class="col-md-8 profile-text">
				<h6>张国刚</h6>
				<table>
				<tbody><tr><td>部门</td>
				<td>:</td>
				<td>心血管内科</td></tr>

				<tr>
				<td>职称</td>
				<td> :</td>
				<td>教授</td>
				</tr>
				<tr>
				<td>邮箱</td>
				<td> :</td>
				<td><a href="info@gmail.com">112233@buaa.edu.cn</a></td>
				</tr>
				<tr>
				<td>国家</td>
				<td>:</td>
				<td> 中国</td>
				</tr>
				</tbody></table>
			</div>
			<div class="clearfix"></div>
			</div>


		</div>
	</div>




{% endblock %}